body {
    background: #F5F5DC;
}

/* Estilizando o cabeçalho */
header {
    background: #42426F;
}

.cabecalho {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.img {
    width: 250px;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a:hover {
    color: #000000;
    text-decoration: underline;
}

nav a {
    text-transform: uppercase;
    color: #ffd700;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

/* Estilizando o main */
h2 {
    text-align: center;
    font-size: 30px;
    line-height: 2.0;
}

p {
    text-align: center;
    font-size: 20px;
}

h3 {
    text-align: center;
    font-size: 30px;
    line-height: 2.0;
}
p {
    line-height: 1.5;
}
.mapa {
    text-align: center;
}

/* Estilizando o footer */

footer {
    background: #42426F;
}

.imagem {
    width: 250px;
    margin-left: 550px;
    margin-right: auto;
    
}